<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capturar Evento</title>
    <link rel="stylesheet" href="styles.css">
    <!-- El atributo defer es para que el script se ejecute luego de que está cargada la página -->
    <script src="../controllers/2-EjecucionBotones.js" defer></script>
</head>
<body>
    <h1>Capturar evento de botón</h1>
    <button id="miBoton">Haz clic aquí</button>
</body>
</html>